# helm/django-pg-app/templates/deployment-postgresql.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-pg-app-postgresql
  labels:
    app: django-pg-app-postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-pg-app-postgresql
  template:
    metadata:
      labels:
        app: django-pg-app-postgresql
    spec:
      containers:
      - name: postgres
        image: "{{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}"
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          value: "{{ .Values.postgres.env.POSTGRES_DB }}"
        - name: POSTGRES_USER
          value: "{{ .Values.postgres.env.POSTGRES_USER }}"
        - name: POSTGRES_PASSWORD
          value: "{{ .Values.postgres.env.POSTGRES_PASSWORD }}"
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc